.leftBody{
    min-width: 180px;
    width: 532px;
    padding-right: 48px;
}

.leftBody .rowInLeft:nth-child(1){
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #333333;
}

.leftBody .rowInLeft:nth-child(2){
    font-size: 21px;
    color: #333333;
    margin-bottom: 20px;
}

.leftBody .rowInLeft:nth-child(3) img{
    width: 160px;
    height: 160px;
}

.leftBody .rowInLeft:nth-child(3) {
    width: 160px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dddfe2;
    font-size: 20px;
    color: #4b4f56;
    text-align: center;
}

.leftBody .rowInLeft:nth-child(3) > .text{
    padding: 12px 0px;
    line-height: 22px;
}